.container {
    width: 100vh;
    height: 100vh;
    background-color: rgb(136, 203, 234);
}

.container-cards {
    max-width: 50%;
    margin: auto;
    padding: 2em;
    background-color: rgb(136, 234, 216);

}

.card {
    padding: 2em;
    background-color: rgb(201, 234, 136);
}